[Unit]
Description=PAM Authentication Selector based on Lid State
After=graphical-session.target

[Service]
Type=oneshot
ExecStart={{HOME}}/.local/share/pam-auth-selector/bin/pam-auth-selector auto
User=root
Environment="HOME={{HOME}}"
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
