[user]
  email = rutger.laurman@lemone.com
  name = Rutger
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPRFsRZDmFKkMLp6RI42G7oP49C4HvIICvraXkcMT0W0

[core]
  excludesfile = /home/rutger/.gitignore_global

[init]
  defaultBranch = main

[column]
  ui = auto

[branch]
  sort = -committerdate

[tag]
  sort = version:refname

[push]
  autoSetupRemote = true
  followTags = true

[fetch]
  prune = true
  pruneTags = true
  all = true

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/opt/1Password/op-ssh-sign"

[commit]
  gpgsign = true
  verbose = true

[alias]
  a = add
  b = branch
  c = commit
  d = diff
  f = fetch
  g = grep
  l = log
  m = merge
  o = checkout
  co = checkout
  p = pull
  s = status
  w = whatchanged

[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true

[merge]
  tool = nvim

[mergetool "nvim"]
  cmd = nvim -c "DiffviewOpen"

[mergetool]
  prompt = false

